<style>
	@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto+Slab&display=swap');
body { 
	background-color: gray;
	}
h1,h2,h3{
	font-family: 'Oswald', sans-serif;
	}
h1{ 
text-align: center;
color: blue;
background-color: bisque;
}
h2, h3{ 
font-family: font-family: 'Roboto Slab', serif;
color: crimson;

.poza{ 
	height: 400px;
	width: 500px;
	margin-left: 100px;
}
	</style>